<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<link rel="stylesheet"  href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
</head>

<body>

    <style>
    @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
  }
  body {
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  }
        @font-face {
            font-family: "Bold";
            src: url('fonts/GlacialIndifference-Bold.otf');
        }

        @font-face {
            font-family: "Regular";
            src: url('fonts/GlacialIndifference-Regular.otf');
        }
         @media(max-width:767px){
            table{
                max-width:100%:
            }
            td{
                display:block;
                margin: 0!important;
            }
             h2{
                border-right: none!important;
                padding: 0!important;
                margin: 0!important;
            }
            button{
                margin: 0 auto;
                display: inherit;
             }
        }
    </style>
    <table style="margin: 0 auto; width:100%; max-width: 700px;">
   

        <tr>
            <td colspan="3" style="padding: 30px;">                
                <h2 style="color:#BA9535;font-size:20px; text-align: center;font-family: 'Regular';">
                    Email varification
                </h2>
                <p style="color:#000; font-size:14px;line-height:1.5;">                    
                    Hello <%= data %>,<br>
                     <br/>   We've  received  a  request  to change email.  If  you  didn't  make  this  request,  please  ignore  this  email.<br>
                    Sincerely,<br>
                    <a href="<%= link %>" >Verify your email </a>
                    
                </p>
            </td>
        </tr>


        <tr>
          
          
        </tr>

    </table>


</body>

</html>